/* ----------------------------------------------  
* Display Properties
* Posistion Properties
* Box-Model Properties
* Typography
* Misc
----------------------------------------------  */

/* code that is here will apply to any screen size */

html {
  height: 100%;
  font-size: 62.5%;
  font-family: "Eras ITC", "Eras Light ITC", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  background-color: white;
}

h1, h2 {  
  margin: 2px;
  font-size: 2.75em;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

p{
  font-family: "Source Serif Pro",serif;
  font-size: 1.5em;
  line-height: 30px;
}

/* ----------------------------------------------  */
/* ---------------- Header Page -----------------  */
/* ----------------------------------------------  */

header {
  display: flex;
  justify-content: center;

  position: sticky;
  top: 0;

  margin-bottom: auto;
  padding-top: .2em;

  background-color: white;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-weight: bold;
}

/* ----------------------------------------------  */
/* ---------------- Nav Bar ---------------------  */
/* ----------------------------------------------  */

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 25em;
}

.header__navlist{
  text-align: center;
  padding: 1em;
}

.header__link:hover,
.header__link:active,
.header__link--active {
  -webkit-text-fill-color: maroon;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
  text-decoration: none;
}

.header__link--active {
  margin: .1em;
  font-size: 3.3em;
  -webkit-text-fill-color: maroon;
  -webkit-text-stroke-color: black;
}

.header__link {
  font-size: 3.2em;
  margin: .1em;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1.5px;
  text-decoration: none;
}

.header__link:link,
.header__link:visited {
  color: none;
}

/* ----------------------------------------------  */
/* --------------- Home Page Content ------------  */
/* ----------------------------------------------  */

.homepage__name--link:hover,
.homepage__name--link:active {
  -webkit-text-fill-color: maroon;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
  text-decoration: none;
}

.homepage__name--link,
.homepage__subtitle {
  font-weight: bold; 
  font-size: 4em;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1.5px;
  text-decoration: none;
}

.homepage__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.homepage__content,
.homepage__subtitle--container,
.homepage__img--container{
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.homepage__img--container{
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.rougeboy__logo--image{
  height: 300px;
  width: auto;
}

/* ----------------------------------------------  */
/* ---------------- Footer Page -----------------  */
/* ----------------------------------------------  */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  margin-top: auto;
  position: sticky;
  height: 20px;
  bottom: 0;

  font-size: 1rem;
  font-style: italic;
  background-color: maroon;
  color: white;
}

/* ----------------------------------------------  */
/* ---------------- Contact Page ----------------  */
/* ----------------------------------------------  */

.contact_page_container {
  overflow: hidden;
}

.contact_page_header_container {
  display: flex;
  justify-content: center;

  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.contact_page_information {
  display: flex;
  justify-content: center;
  font-size: 1em;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
}

.contact_page_information_container {
  display: flex;
  flex-direction: column;
  
  align-items: left;
  margin-left: 3em;
  margin-right: 3em;
}

.contact_page_name,
.contact_page_email,
.contact_page_phone {
  margin-top: .5rem;
}

/* ----------------------------------------------  */
/* ---------------- Projects Page ---------------  */
/* ----------------------------------------------  */

.project__content--container{
  display: flex;
  flex-direction: column;
  margin-left: 25%;
  margin-right: 15%;
  gap: 3px;
}

/* ----------------------------------------------  */
/* ---------------- Blog Page -------------------  */
/* ----------------------------------------------  */

.blog__content--text {
  display: flex;
  flex-direction: column;
  align-items: left;

  margin:0 auto;
  padding: 0 2em;

  max-width: 125rem;
}

.todo__list--text{
  font-size: 1.5em;
  font-weight: bold;
}

.blog__header--text {
  margin:0;
  padding:0;
  padding:0;
}

.blog_content--container {
  margin:0;
}

/* ----------------------------------------------  */
/* ---------------- Photography Page ------------  */
/* ----------------------------------------------  */
.red--text{
  color: maroon;
}

.photography__services--container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.photography__services--text{
  font-size: 3em;
  display: flex;
  justify-content: center;
  text-align: center;
}

.photograpy__services--listitem {
  font-family: "Source Serif Pro",serif;
  font-size: 1.75em;
  line-height: 15px;
  -webkit-text-fill-color: maroon;
  -webkit-text-stroke-width: 1px;
}

.photography__services--subtext{
  font-size: 2em;
  text-align: center;

}

.photo__container {
  display: flex;
  justify-content: space-evenly;
  padding: 1%;
}

.photo__container--left, .photo__container--right {
  display: flex;
  flex-direction: column;   
  align-items: center; 
}

.photo__container--item { 
  width: 100%;
  height: 95%;
  min-width: 30px;
  margin-right : auto;
  margin-left : auto;
  cursor: pointer;
}


/* ----------------------------------------------  */
/* ---------------- Rouge Boy Page --------------  */
/* ----------------------------------------------  */

.rougeboy__body, .rougeboy__header {
  background-color: #470202;
}

.rougeboy_content_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.rougeboy__content__image--container{
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.rougeboy__subtitle--container{
  padding-top: 50px;
}

.rougeboy__subtitle--text{
  display: flex;
  justify-content: center;

  font-size: 16px;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: maroon;
  -webkit-text-stroke-width: 1.5px;
}

.rougeboy__subtitle--textblack{
  display: flex;
  justify-content: center;
  font-size: 16px;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1.5px;
}